* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-size: 25px;
}

#wordle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#game-heading {
  margin: 1em auto;
  text-align: center;
}

#guess-letters {
  width: 30%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 0.5em;

  margin: 0 auto;
}

#guess-box {
  height: 2em;
  font-size: 1em;
}

#submit-btn {
  height: 2em;
  font-size: 1em;

  padding-left: 0.2em;
  padding-right: 0.2em;
}

.result-container {
  width: 20%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;

  margin: 1em auto;
  /* border: 1px solid black; */
}

.letter-present {
  background-color: #c9b458;
  font-size: 1.5em;
  color: whitesmoke;
}

.tile {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;

  height: 1.5em;
  width: 1.5em;
}

.correct-guess {
  background-color: #6aaa64;
  font-size: 1.5em;
  color: whitesmoke;
}

.absent {
  background-color: #787c7e;
  font-size: 1.5em;
  color: whitesmoke;
}

.row {
  display: flex;
  flex-direction: row;
  column-gap: 0.3em;
}

.hint-box {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
