:root {
  --guess-box-border-color: black;
  --letter-present-bg-color: #c9b458;
  --letter-color: whitesmoke;
  --correct-guess-bg-color: #6aaa64;
  --absent-letter-bg-color: #787c7e;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-size: 25px;
}

#wordle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#game-heading {
  margin: 1em auto;
  text-align: center;
}

#guess-letters {
  width: 30%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 0.5em;

  margin: 0 auto;
}

#guess-box {
  border: none;
  outline: none;

  font-size: 1em;
  height: 2em;
  border-bottom: 1px solid var(--guess-box-border-color);

  padding: 0.2em;
}

#submit-btn {
  height: 2em;
  font-size: 1em;

  padding-left: 0.2em;
  padding-right: 0.2em;
}

.result-container {
  width: 20%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;

  margin: 1em auto;
}

.letter-present {
  background-color: var(--letter-present-bg-color);
  font-size: 1.5em;
  color: var(--letter-color);
}

.tile {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;

  height: 1.5em;
  width: 1.5em;
}

.correct-guess {
  background-color: var(--correct-guess-bg-color);
  font-size: 1.5em;
  color: var(--letter-color);
}

.absent {
  background-color: var(--absent-letter-bg-color);
  font-size: 1.5em;
  color: var(--letter-color);
}

.row {
  display: flex;
  flex-direction: row;
  column-gap: 0.3em;
}

.hint-box {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#previous-record {
  margin-right: 6em;
  height: 60px;
  text-align: right;
}
